section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	border-bottom: 1px solid lightgrey;
}

section:nth-child(even) {
	flex-direction: row-reverse;
}

section img,
section div {
	height: auto;
	width: 100%;
}

section img {
	width: 35%;
	margin: 0 50px 0 50px;
}

.aboutSeniorIcon {
	width: 75%;
	height: 75%;
}

.taskSeniorIcon {
	width: 40%;
	height: 40%;
}

section div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 1em;
}

.homeIntro, .aboutParagraph, .referenceParagraph {
	font-size: 20px;
	line-height: 40px;
	margin: 0 50px 0 50px;
}

@media screen and (max-width: 900px) {
	section,
	section:nth-child(even) {
		flex-direction: column;
	}

	section img {
		height: auto;
		width: auto;
		max-width: 100vw;
	}
}

/* Tasks of the day styling */
.todoList {
	background: #e2c5d9;
	margin: 0 50px 0 0;
	border-radius: 20px;
	padding: 2px;
	max-width: 800px;
}

.todo-container {
	background: #e5d1e3;
	border-radius: 20px;
	padding: 20px;
	max-width: 400px;
	font-size: 25px;
	font-weight: 600;
}

.todo-container input {
	border: 0;
	width: 200px;
	height: 50px;
	padding: 0 20px;
	margin: 20px;
	font-size: 20px;
	border-radius: 10px;
	color: rgb(100, 35, 86);
}

.todo-container input:focus, #to-do-form button:focus {
	outline: none;
}

button {
	height: 50px;
	width: 150px;
	border-radius: 5px;
	border: 2px #a11344 solid;
	background: #f8f7c0;
	cursor: pointer;
	font-weight: bolder;
	font-size: 20px;
}

/* Memory Styling */
.memory-section {
	position: top;
	display: flex;
	align-self: top;
	justify-content: flex-start;
}
.memory-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1em;
}
.upload-widget {
	height: 10vh;
	width: 100%;
	padding: 1em;
}

.images {
  	padding: 10px 10px;
  	-webkit-box-shadow: 2px 8px 22px 1px rgba(0,0,0,0.06); 
  	box-shadow: 2px 8px 22px 1px rgba(0,0,0,0.06);
  }

.upload-container {
	background: #e2c5d9;
	border-radius: 20px;
	padding: 1em;
	align-items: center;
	justify-content: center;
	max-width: 800px;
	max-height: 400px;
}

